{% extends 'base.html' %}

{% block title %}
<title>Online Store</title>
<title>Online Store</title>
{% endblock %}

{% block body %}

 <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Store's Items</h1>
    </div>



<div class="cards">
  <!-- Карточка товара -->
  <div class="card">
    <div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка товара -->
    <a href="#" class="card__image">
      <img
        src="https://cdn2.static1-sima-land.com/items/2726357/0/700-nw.jpg"
        alt="Monitor Benq 35 EX3501R Black VA LED 219 HDMI"
      />
    </a>
    <!-- Скидка на товар -->
  </div>
  <!-- Нижняя часть -->
  <div class="card__bottom">
    <!-- Цены на товар (с учетом скидки и без)-->
    <div class="card__prices">
      <div class="card__price card__price--common">50 000</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="#" class="card__title">
      Monitor Benq 35" EX3501R Black VA LED 21:9 HDMI
    </a>
    <!-- Кнопка добавить в корзину -->
    <button class="card__add">Buy</button>
  </div>
</div>
  </div>
  <div class="card">
    <div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка товара -->
    <a href="#" class="card__image">
      <img
        src="https://ae04.alicdn.com/kf/H609e732aa6d8425182e38107b41423ca2.jpg"
        alt="Luxury Wedding Dress BGW 2204ht 2020"
      />
    </a>
    <!-- Скидка на товар -->
  </div>
  <!-- Нижняя часть -->
  <div class="card__bottom">
    <!-- Цены на товар (с учетом скидки и без)-->
    <div class="card__prices">
      <div class="card__price card__price--common">150 000</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="#" class="card__title">
      Luxury Wedding Dress BGW 2204ht 2020
    </a>
    <!-- Кнопка добавить в корзину -->
    <button class="card__add">Buy</button>
  </div>
</div>
  </div>
  <div class="card">
    <div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка товара -->
    <a href="#" class="card__image">
      <img
        src="https://avatars.mds.yandex.net/get-mpic/6253235/img_id6418138130296771617.jpeg/orig"
        alt="Digma 23.8 DM-MONB2403 Monitor dark gray"
      />
    </a>
    <!-- Скидка на товар -->
  </div>
  <!-- Нижняя часть -->
  <div class="card__bottom">
    <!-- Цены на товар (с учетом скидки и без)-->
    <div class="card__prices">
      <div class="card__price card__price--common">23 000</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="#" class="card__title">
      Digma 23.8" DM-MONB2403 Monitor
    </a>
    <!-- Кнопка добавить в корзину -->
    <button class="card__add">Buy</button>
  </div>
</div>
  </div>
  <div class="card">
    <div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка товара -->
    <a href="#" class="card__image">
      <img
        src="https://cdn.walletmonitor.com/img/bc1be842c7e4d570c46d6a12ba8b9ebc.jpg"
        alt="Summer Dress Women Sleeveless 50s 60sd"
      />
    </a>
    <!-- Скидка на товар -->
  </div>
  <!-- Нижняя часть -->
  <div class="card__bottom">
    <!-- Цены на товар (с учетом скидки и без)-->
    <div class="card__prices">
      <div class="card__price card__price--common">3 000</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="#" class="card__title">
      Summer Dress Women Sleeveless 50s 60s
    </a>
    <!-- Кнопка добавить в корзину -->
    <button class="card__add">Buy</button>
  </div>
</div>
  </div>
  <div class="card">
    <div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка товара -->
    <a href="#" class="card__image">
      <img
        src="https://i.pinimg.com/originals/0c/60/9c/0c609c8e8d4213e5654f3150382292f9.jpg"
        alt="Lay's Potato Chips, Sour Cream & Onion, Party Size"
      />
    </a>
    <!-- Скидка на товар -->
    <div class="card__label">-10%</div>
  </div>
  <!-- Нижняя часть -->
  <div class="card__bottom">
    <!-- Цены на товар (с учетом скидки и без)-->
    <div class="card__prices">
      <div class="card__price card__price--discount">180</div>
      <div class="card__price card__price--common">200</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="#" class="card__title">
      Lay's Potato Chips, Sour Cream & Onion, Party Size
    </a>
    <!-- Кнопка добавить в корзину -->
    <button class="card__add">Buy</button>
  </div>
</div>
  </div>
  <div class="card">
   <div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка товара -->
    <a href="#" class="card__image">
      <img
        src="https://sc04.alicdn.com/kf/A5e9ed5f241544fa1a2b850cee1070d6dV.jpg"
        alt="Chocolate Nestle KitKat Senses Double Chocolate"
      />
    </a>
    <!-- Скидка на товар -->

  </div>
  <!-- Нижняя часть -->
  <div class="card__bottom">
    <!-- Цены на товар (с учетом скидки и без)-->
    <div class="card__prices">
      <div class="card__price card__price--common">50</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="#" class="card__title">
      Chocolate Nestle KitKat Senses Double Chocolate
    </a>
    <!-- Кнопка добавить в корзину -->
    <button class="card__add">Buy</button>
  </div>
</div>
  </div>
  <div class="card">
    <div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка товара -->
    <a href="#" class="card__image">
      <img
        src="https://avatars.mds.yandex.net/get-mpic/5332938/img_id8654546341972833939.jpeg/orig"
        alt="Case Deepcool Matrixx 40 Black"
      />
    </a>
    <!-- Скидка на товар -->
    <div class="card__label">-10%</div>
  </div>
  <!-- Нижняя часть -->
  <div class="card__bottom">
    <!-- Цены на товар (с учетом скидки и без)-->
    <div class="card__prices">
      <div class="card__price card__price--discount">25 000</div>
      <div class="card__price card__price--common">30 000</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="#" class="card__title">
      Case Deepcool Matrixx 40 Black
    </a>
    <!-- Кнопка добавить в корзину -->
    <button class="card__add">Buy</button>
  </div>
</div>
  </div>
  <div class="card">
   <div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка товара -->
    <a href="#" class="card__image">
      <img
        src="https://avatars.mds.yandex.net/get-mpic/6382710/img_id5820170124131443199.png/orig"
        alt="RAM A DATA 8 GB DDR4 3200 MHz"
      />
    </a>
    <!-- Скидка на товар -->
  </div>
  <!-- Нижняя часть -->
  <div class="card__bottom">
    <!-- Цены на товар (с учетом скидки и без)-->
    <div class="card__prices">
      <div class="card__price card__price--common">10 000</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="#" class="card__title">
      RAM A DATA 8 GB DDR4 3200 MHz
    </a>
    <!-- Кнопка добавить в корзину -->
    <button class="card__add">Buy</button>
  </div>
</div>
  </div>
</div>

<style>
  .card {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card__image:hover > img {
  transform: scale(1.1);
}

/* Размещаем скидку на товар относительно изображения */
.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: #606060;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.card__price--common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;
}

.card__title:hover {
  color: #ff6633;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card__add:hover {
  border: 1px solid #ff6633;
  background-color: #ff6633;
  color: #fff;
}

.cards {
  display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 30px; /* Отступ между колонками */
  row-gap: 40px; /* Отступ между рядами */
  margin: 0 auto;
}

</style>

{% endblock %}